
WeatherApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/mayarkhaled.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/xcuserdata/mayarkhaled.xcuserdatad/xcschemes/xcschememanagement.plist
